body {
    background-image: url('OurKitchenOG.jpg');
    background-color: floralwhite;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

h1.header {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to left,
            rgba(255,235,205,0),
            rgba(255,235,205,0.4),
            blanchedalmond,
            navajowhite,
            bisque,
            bisque,
            bisque,
            navajowhite,
            blanchedalmond,
            rgba(255,235,205,0.4),
            rgba(255,235,205,0));
}
.subtitty {
    font-size: 30px;
    font-family: 'Snell Roundhand', cursive;
}

a {
    position: absolute;
    display: inline;
    text-align: center;
    left: 7%;
    /* margin-left: auto;
    margin-right: auto; */
}
a:hover {
    /* color: ghostwhite;
    background-color: black; */
    background: linear-gradient(to left,
    rgba(255,235,205),
    blanchedalmond,
    navajowhite,
    bisque,
    bisque,
    bisque,
    navajowhite,
    blanchedalmond,
    rgba(255,235,205));
}

a.chicken {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}
a.fish {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}
a.steak {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}
a.pork {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}
a.veg {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}
a.restaurant {
    position: relative;
    display: inline-block;
    width: 13%;
    font-size: 30px;
    /* font-style: italic; */
    font-family: 'Snell Roundhand', cursive;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
    /* border: 1px solid black;
    margin: auto; */
}

p.intro {
    background-color: ghostwhite;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    padding: 30px 20px 35px;
    font-size: 20px;
    color: black;
    /* border: 1px solid silver; */
    /* -webkit-text-stroke: 1px salmon; */
}
b.ourstory {
    font-size: 30px;
    font-family: 'Snell Roundhand', cursive;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 50%;
    /* border-radius: 20px; */
}

a.site1 {
    position: relative;
    color: black;
    text-align: left;
    left: 0;
}
a.site2 {
    position: relative;
    color: black;
    text-align: left;
    left: 0;
}
a.site1:hover {
    background: none;
    color: gray;
}
a.site2:hover {
    background: none;
    color: gray;
}